{% extends 'base_frontend.html.twig' %}

{% block body %}
    <script>
        {% autoescape 'js' %}
        window.clientGlobals = {{ frontend_settings|json_encode()|raw }};
        {% endautoescape %}
    </script>

    <div class="global-buttons btn-group">
        <a href="{{ path('backend', {'page': 'login'}) }}" class="btn">Go To Backend</a>
    </div>

    <div id="app"></div>
{% endblock %}